

/* General */
body {
    background-color: #eaeaea;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    width: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 20px;
}

li:first-child {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: #555555;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #f1df96;
}






/* Home section styles */
#home {
    background-color: #000000;
    padding: 100px 20px;
    text-align: center;
}

#home h1 {
    color: #ecc52e;
    font-size: 36px;
    margin-bottom: 20px;
}

#home p {
    color: #ffffff;
    font-size: 18px;
}

/* Products section styles */
#products {
    background-color: #ffffff;
    padding: 100px 20px;
    text-align: center;
}

#products h2 {
    color: #555555;
    font-size: 30px;
    margin-bottom: 20px;
}

#products p {
    color: #777777;
    font-size: 18px;
}



/* CSS for the Products section */
#products {
  background-color: #f7f7f7;
  padding: 50px 20px;
  text-align: center;
}

#products h2 {
  color: #555555;
  font-size: 36px;
  margin-bottom: 20px;
}

#products p {
  color: #777777;
  font-size: 18px;
}

.product-slider {
  position: relative;
  text-align: center;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px; /* Adjust the max-width as per your preference */
}

.product-card {
  display: block;
  width: 60%; /* Adjust the width as per your preference */
  margin: 0 auto;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card h3 {
  margin-top: 10px;
}

.product-card p {
  margin-bottom: 10px;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #555555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.prev-button:hover,
.next-button:hover {
  color: #000000;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}


  


  /* Contact section styles */

  .contact-us {
    background-color: black;
    color: #ffe064;
    padding: 20px;
  }
  
  .contact-form {
    width: 80%;
    margin: 0 auto;
  }
  
  .contact-form table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .contact-form table td {
    padding: 5px;
  }
  
  .contact-form label {
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    color: white;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form button[type="submit"] {
    background-color: #ecc52e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #f1df96;
  }
  
  
  
  
/*Find Us */
.find-us {
    margin-top: 30px;
  }
  
  .find-us h3 {
    color: #ecebeb;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .find-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .find-us li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .find-us a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.3s ease;
  }
  
  .find-us a:hover {
    opacity: 0.7;
  }
  
  .instagram-logo {
    background-image: url('Door/icons8-instagram-50.png');
  }
  
  .tiktok-logo {
    background-image: url('Door/icons8-tiktok-50.png');
  }
  
  .whatsapp-logo {
    background-image: url('Door/icons8-whatsapp-50.png');
  }
  
  
    /*Warna Kuning color: #ecc52e; */